#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
[General]
XlBridgeTimeout=120
DefaultRunLogic=default.usp
iter_begins_val=fixed
iter_ends_val=fixed
ContinueOnError=0
FailTransOnErrorMsg=0
AutomaticTransactions=0
UseThreads=1
[ThinkTime]
Options=NOTHINK
Factor=1.000000
LimitFlag=0
Limit=1
ThinkTimeRandomLow=50
ThinkTimeRandomHigh=150

[Iterations]
NumOfIterations=1
IterationPace=IterationASAP
StartEvery=60
RandomMin=60
RandomMax=90

[Log]
LogOptions=LogBrief
MsgClassData=0
MsgClassParameters=0
MsgClassFull=0
AutoLog=0
[CommandArguments]
[JavaVM:Options]
Java_Env_ClassPath=${DEPclassPath}\fm-preformance-test-context-jar-with-dependencies.jar;${LDclassPath}
Java_Env_ClassPath_Unused=
Java_Previous_Class_Path=
use_jdk=search_jdk
jdk_home=
Java_VM_Params=
Use_Xboot=0
enable_CL_per_vuser=0
