[parameter:${parameter}]
Delimiter=","
ParamName="${parameter}"
TableLocation="Local"
ColumnName="${parameter}"
Table="${parameter}.dat"
GenerateNewVal="EachIteration"
Type="Table"
value_for_each_vuser=""
auto_allocate_block_size="1"
SelectNextRow="Sequential"
StartRow="1"
OutOfRangePolicy="ContinueWithLast"
