<html>
 <head></head>
 <body>
 <div id="emailBody" style="font-family:Arial;font-size:14px">
 Dear Customer;	<br/><br/>									
Thank you for your interest in HP.  This is to inform you that one or more unused Service Credits are within 90 days of expiration.<br/><br/>	
HP Service Credits cannot be used past their expiration date or rolled over to the renewal service agreement.<br/><br/>			
Support agreement
<table>
<tr><td>SAR/SAID/OBID</td>						<td>Description<td>		<td>Service Credits</td>	<td>Expiration Date</td></tr>
<tr><td>HP Server/12345/54321</td><td>desc</td><td>30</td>	<td>45</td></tr>
<tr><td>HP Printer/11-11/22-22</td><td>desc</td><td>90</td>	<td>70</td></tr>
<table>
<br/>
Please visit the Shop HP Services page of the Service Credits feature within HP Support Center for a list of services that may benefit your IT environment.
<div style="margin-left:20px">www.hp.com</div>						
Thank You<br/>										
HP standard signature	
</div>


 </body>
</html>