
{GroupChief
#foreach($methodEntry in $usrFileMap.entrySet())
{$methodEntry.key
#foreach($temp in $vUserPerMethod)
{$velocityCount
5=$methodEntry.key
9=localhost
SEED_NUM=0
}
#end
{ChiefSettings
5=$methodEntry.key
9=localhost
GroupParam=
Enabled=1
}
}
#end
}