
{Product
Product=HP LoadRunner Controller
Version=11.0.0.0
}

{ScenarioGeneralConfig
ScenarioType=1
Is_mix=1
Is_runner_file=0
Runner_file=
Host_kill_type=0
GlobalDir=
}

{ScenarioPrivateConfig
Path=
Author=hpadmin
Subject=fms_search_scenario
Description=
Hosts=1
Scripts=${scriptNum}
Groups=${scriptNum}
Vusers=${totalVUserNum}
Tranzactions=0
Rendezvous=0
Result_file=C:\Users\Administrator\AppData\Local\Temp\res\res.lrr
ResCleanName=res
ResSymName=
DEFAULT_NFS_LESS_MODE=1
AutoSetResults=0
AutoOverwriteResults=0
BaseResultsName=
MaxVuserSeedNumberUsed=0
PlannedNumOfVusers=20
PrivatePlannedNumOfVusers=20
ManualControlDistributionType=-1
ManualControlAutoAddVusers=1
TestDirPath=
TestDirServer=
TestDirDatabase=
TestDirCycle=default
TestDirCycleInstance=1
TestResultsFlag=0
ScenarioSchedulerMode=1
ScenarioSchedulerName=Default Schedule
SuspendScenarioStart=0
ScenarioStartDelay=0
ScenarioStartAtTime=
ScenarioStartAtTimeYear=
ScenarioStartAtTimeMonth=
ScenarioStartAtTimeDay=
GIndexSortType=
GIndexAutoSort=0
SoftKillMode=0
}

{ScenarioCommonConfig
GlobalNlq=999
GlobalNls=999
HostUnixNLQ=5
HostWinNLQ=5
EchoDlgRefresh=1000
EchoMaxOpen=10
VuRunTO=120
VuPauseTO=120
VuQuitTO=120
}

{ScenarioIniFlags
2:DeleteQuotaOfOutputMessages=2000
3:FlagLimitOutputMessages=1
4:FlagResetLog=0
5:OutputIsExported=1
6:OutputExportError=1
7:OutputExportWarning=0
8:OutputExportNotify=0
9:OutputExportPackSize=100
10:VuLoadTO=180
11:VuWatchDog=1
12:VuElapsedTime=4
13:VuDefaultVuserPercentageNum=10
14:HostConnectTO=120
15:HostDisconnectTO=120
16:HostUnixLowerLogin=0
17:DebugMessages=0
18:DebugLevel=15
19:AgentLang=0
20:AgentKeepTmpFiles=0
21:TransferFilesFuncFlow=0
22:CommIn=0
23:CommOut=0
24:AgentMaxThreadsPerDriver=50
25:AgentAstraMaxThreadsPerDriver=25
26:FlushCntrlEve=1
27:OutputInternalMsgDontChange=0
28:MaxNetworkMsg=50
29:OutputAllIsExported=1
30:PingTimer=4
31:EnableRandomSeed=0
32:RandomSeedNum=0
33:AutomationPollingFrequency=2
34:WinRunnerKillTimeout=120
35:EnableIPSpoffing=0
36:EndNotActiveScenario=1
38:HostKillQuota=50
39:EnableTransactionServer=1
40:TransServerFrequency=5
41:TransServerSendData=0
42:IPSpoffingRuntimeMode=1
43:InternalEnableTransactionServer=1
44:VuserStatusTimer=1
45:DefaultHost=localhost
46:DefaultGroupSize=10
47:DefaultSchedulerRunMode=1
48:VTSL=100
49:HpsAveragePeriod=60
50:ScenarioType=2
51:ViewDebugOutput=0
52:MonitorsSamplingRateValue=3
53:MonitorsSendErrors=1
54:MonitorsDebugMode=0
55:MonitorsDebugLevel=0
56:J2EETransactionsBreakdown=1
57:J2EETransactionsBreakdownRate=1
58:J2EETransactionsBreakdownMaxVal=1000
59:WebTransactionsBreakdown=1
60:WebTransactionsBreakdownRate=1
61:WebTransactionsBreakdownMaxVal=100
62:IsOrchid10=0
63:IsOrchid=0
64:UseOneErrorEng=1
65:DontCollateLogs=0
66:FastAnalysisTimeout=5
67:SummaryDataSizeLimit=2
68:MaxOutputUIRowsToShow=10000
69:MaxOutputMessagesInQueue=10000
75:AutoRenumberVusersAfterDeletion=0
79:HostUnixDontUseRSH=0
80:HostUnixDefaultShell=csh
81:HostUnixShellCommand=
}

{HostChief

{localhost
PLATFORM=Windows
IS_REMOTE_LOGIN=0
REMOTE_LOGIN=
IS_LOCAL_LOGIN=0
LOCAL_LOGIN=
DONT_USE_RSH=0
REMOTE_TMP_DIR=
MAX_VUSER_XL=5000
MAX_VUSER_RTE=1000
ALLOW_XL=1
ALLOW_RTE=1
MAX_VUSER_RUNNER=1
LOAD_QUOTA_GLOBAL=50
KILL_QUOTA_GLOBAL=-1
Enable=1
RUNNER_FILE_TYPE=0
RUNNER_FILE=
USE_FW_MONITOR=0
ENABLE_FIREWALL=0
ENABLE_SSL=0
ROUTER_NAME=
HOST_WAN_EMULATION_SETTINGS=HOST_WAN_EMULATION_SETTINGS
WanEnable=0
StartUponScenario=0
HOST_LOCATION=
HOST_MONITORING_USER=
HOST_MONITORING_PASSWORD=
HOST_WAN_EMULATION_XML=
HOST_WAN_CONFIGURATION_XML=
HOST_WAN_EMULATION_SETTINGS_END=HOST_WAN_EMULATION_SETTINGS_END
HostSettingsNumberOfTerminals=2
HostSettingsMaxVuserPerTerminal=50
HostSettingsEnableTerminal=0
 HostSettingsReuseTSCnnections=1
}
}