<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Krtkova</display-name>
  <welcome-file-list>
    <welcome-file>/page/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Create kinds of charts</description>
    <display-name>ChartsServlet</display-name>
    <servlet-name>ChartsServlet</servlet-name>
    <servlet-class>com.hp.sbs.krtkova.servlet.ChartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartsServlet</servlet-name>
    <url-pattern>/chartsServlet</url-pattern>
  </servlet-mapping>
  
</web-app>