<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>javamail</display-name>
	<welcome-file-list>
		<welcome-file>email.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
    <description>This is a send email servlet</description>
    <servlet-name>EmailServet</servlet-name>
    <servlet-class>zhwb.javamail.servlet.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServet</servlet-name>
    <url-pattern>/sendemail</url-pattern>
  </servlet-mapping>
</web-app>