<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>mailSender</javaee:display-name>
  <welcome-file-list>
    <welcome-file>email.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description>This is a send email servlet</javaee:description>
    <servlet-name>EmailServet</servlet-name>
    <servlet-class>zhwb.javamail.servlet.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServet</servlet-name>
    <url-pattern>/sendemail</url-pattern>
  </servlet-mapping>
</web-app>