<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">

	<bean id="threadQueue" class="java.util.concurrent.ArrayBlockingQueue">
		<constructor-arg index="0" value="10"></constructor-arg>
	</bean>
	<bean id="threadPool" class="java.util.concurrent.ThreadPoolExecutor">
		<constructor-arg index="0" value="10"></constructor-arg>
		<constructor-arg index="1" value="20"></constructor-arg>
		<constructor-arg index="2" value="300"></constructor-arg>
		<constructor-arg index="3" value="SECONDS"></constructor-arg>
		<constructor-arg index="4">
			<ref bean="threadQueue" />
		</constructor-arg>
	</bean>

</beans>