<?xml version="1.0" encoding="UTF-8"?>
<web-app>
     <servlet>
          <servlet-name>contacts</servlet-name>
          <servlet-class>com.roywmiller.contacts.model2.ContactsServlet</servlet-class>
     </servlet>
     
     <servlet-mapping>
         <servlet-name>contacts</servlet-name>
         <url-pattern>/index.htm</url-pattern>
     </servlet-mapping>
     
     <servlet-mapping>
         <servlet-name>contacts</servlet-name>
         <url-pattern>*.perform</url-pattern>
     </servlet-mapping>

     <servlet>
          <servlet-name>jspAssign</servlet-name>
          <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
          <init-param>
               <param-name>logVerbosityLevel</param-name>
               <param-value>WARNING</param-value>
          </init-param>
          <init-param>
               <param-name>fork</param-name>
               <param-value>false</param-value>
          </init-param>
          <load-on-startup>3</load-on-startup>
     </servlet>
     
     <servlet-mapping>
          <servlet-name>jspAssign</servlet-name>
          <url-pattern>*.jsp</url-pattern>
     </servlet-mapping>
</web-app>